<ul>

    <% for(i=0; i<allUrl.length; i++ ){ %>
        <a href='<%=allUrl[i]%>' target='_blank'> <%=allUrl[i]%> </a><br>
    <% } %>
    
    <% for(i=0; i<httpsImageSrc.length; i++ ){ %>
        <img src='<%=httpsImageSrc[i]%>' alt="Paris" width="500" height="350">
    <% } %>

    <% for(i=0; i<httpImageSrc.length; i++ ){ %>
        <img src='<%=httpImageSrc[i]%>' alt="Paris" width="500" height="350">
    <% } %>

</ul>